.custom-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(149, 233, 246, 0.45),
    rgba(186, 230, 26, 0.38)
  );
  z-index: 2;
}
.image-5-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 1130px;
  object-fit: cover;
}
.frame-child21 {
  position: absolute;
  top: 45px;
  left: 43px;
  width: 194px;
  height: 194px;
  cursor: pointer;
  z-index: 3;
}
.frame-child22,
.frame-child23,
.frame-child24 {
  position: absolute;
  top: 40.7px;
  left: 306px;
  width: 755.4px;
  height: 41.1px;
  object-fit: contain;
  z-index: 3;
}
.frame-child23,
.frame-child24 {
  top: -34px;
  left: 941px;
  width: 173.3px;
  height: 175.9px;
  z-index: 4;
}
.frame-child24 {
  top: 100px;
  left: 339px;
  width: 273.7px;
  height: 215.8px;
}
.image-5-parent1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-child25,
.frame-child26,
.frame-child27 {
  height: 62px;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(#9fc514, #9fc514),
    linear-gradient(#9fc514, #9fc514), #9fc514;
  min-width: 322px;
  max-width: 100%;
}
.activity-screen,
.ellipse-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-30xl);
  max-width: 100%;
  z-index: 1;
}
.activity-screen {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 142px var(--padding-23xl) var(--padding-164xl) var(--padding-63xl);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .activity-screen {
    padding-left: var(--padding-22xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .ellipse-parent {
    gap: var(--gap-5xl);
  }
}
