.background41 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #fba8c1,
    rgba(251, 168, 193, 0.54) 46%,
    rgba(251, 168, 193, 0.97)
  );
  display: none;
}
.heart-cards-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon41 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart40 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 17.2px #fb83a7;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.heart-cards-parent {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card42 {
  flex: 1;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 112px;
  z-index: 1;
}
.background42 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #fba8c1,
    rgba(251, 168, 193, 0.54) 46%,
    rgba(251, 168, 193, 0.97)
  );
  display: none;
}
.frame-icon30 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon42 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart41 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 17.2px #fb83a7;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent32 {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card-parent5,
.card43 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.card43 {
  flex: 1;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  min-width: 112px;
  z-index: 1;
}
.card-parent5 {
  width: 382.1px;
  gap: var(--gap-16xl-9);
  min-width: 382.1000000000003px;
  max-width: 100%;
}
.background43 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #a2e3f3,
    rgba(162, 227, 243, 0.29) 46%,
    #a2e3f3
  );
  display: none;
}
.card-components-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon43 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart42 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 20.8px #39c9ec;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.card-components-parent {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card44 {
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  z-index: 1;
}
.background44 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #a2e3f3,
    rgba(162, 227, 243, 0.29) 46%,
    #a2e3f3
  );
  display: none;
}
.frame-icon31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon44 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart43 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 20.8px #39c9ec;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent33 {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card45 {
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.background45 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #a2e3f3,
    rgba(162, 227, 243, 0.29) 46%,
    #a2e3f3
  );
  display: none;
}
.frame-icon32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon45 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart44 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 20.8px #39c9ec;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent34 {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card46 {
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.activity-display,
.card-parent6,
.frame-parent31 {
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.card-parent6 {
  width: 591.1px;
  display: grid;
  justify-content: flex-start;
  gap: var(--gap-16xl-9);
  min-width: 591.1000000000004px;
  grid-template-columns: repeat(3, minmax(130px, 1fr));
}
.activity-display,
.frame-parent31 {
  display: flex;
}
.frame-parent31 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.activity-display {
  width: 1349.1px;
  justify-content: flex-start;
  padding: 0 var(--padding-20xl);
  box-sizing: border-box;
}
.image-5-icon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 1130px;
  object-fit: cover;
}
.frame-child48 {
  position: absolute;
  top: 45px;
  left: 43px;
  width: 194px;
  height: 194px;
  cursor: pointer;
  z-index: 1;
}
.frame-child49,
.frame-child50 {
  position: absolute;
  top: 40.7px;
  left: 306px;
  width: 755.4px;
  height: 41.1px;
  object-fit: contain;
  z-index: 1;
}
.frame-child50 {
  top: -34px;
  left: 941px;
  width: 173.3px;
  height: 175.9px;
  z-index: 2;
}
.image-5-parent5 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.activity-screen7 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-245xl) var(--padding-23xl) var(--padding-164xl)
    var(--padding-63xl);
  box-sizing: border-box;
  gap: var(--gap-9xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1400px) {
  .card-parent5,
  .card-parent6,
  .heart-cards-parent {
    flex: 1;
  }
  .frame-parent31 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .card-parent6 {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .card-parent5 {
    min-width: 100%;
  }
  .card-parent6 {
    gap: var(--gap-lg);
    justify-content: center;
    grid-template-columns: repeat(2, minmax(130px, 225px));
  }
  .activity-screen7 {
    padding-left: var(--padding-22xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .card-parent5 {
    flex-wrap: wrap;
    gap: var(--gap-lg);
  }
  .card-parent6 {
    grid-template-columns: minmax(130px, 1fr);
  }
}
