.name {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(149, 233, 246, 0.45),
    rgba(186, 230, 26, 0.38)
  );
  z-index: 2;
}
.background6 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #fba8c1,
    rgba(251, 168, 193, 0.54) 46%,
    rgba(251, 168, 193, 0.97)
  );
  display: none;
}
.frame-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon5 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart5 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 17.2px #fb83a7;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent5 {
  height: 221px;
  flex: 1;
  position: relative;
}
.card5 {
  flex: 1;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 112px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 3;
}
.background7 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #fba8c1,
    rgba(251, 168, 193, 0.54) 46%,
    rgba(251, 168, 193, 0.97)
  );
  display: none;
}
.frame-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon6 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart6 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 17.2px #fb83a7;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent6 {
  height: 221px;
  flex: 1;
  position: relative;
}
.card6,
.f-r-a-m-e {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.card6 {
  flex: 1;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  min-width: 112px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 3;
}
.f-r-a-m-e {
  width: 382.1px;
  gap: var(--gap-16xl-9);
  min-width: 382.0999999999999px;
  max-width: 100%;
}
.background8 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #a2e3f3,
    rgba(162, 227, 243, 0.29) 46%,
    #a2e3f3
  );
  display: none;
}
.frame-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon7 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart7 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 20.8px #39c9ec;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent7 {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card8 {
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.background9 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #a2e3f3,
    rgba(162, 227, 243, 0.29) 46%,
    #a2e3f3
  );
  display: none;
}
.frame-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon8 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart8 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 20.8px #39c9ec;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent8 {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card9 {
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.background10 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #a2e3f3,
    rgba(162, 227, 243, 0.29) 46%,
    #a2e3f3
  );
  display: none;
}
.frame-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon9 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart9 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 20.8px #39c9ec;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent9 {
  height: 221px;
  flex: 1;
  position: relative;
}
.card10 {
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.activity-screen-child,
.card7,
.f-r-a-m-e-parent {
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.card7 {
  width: 591.1px;
  display: grid;
  justify-content: flex-start;
  gap: var(--gap-16xl-9);
  min-width: 591.1px;
  grid-template-columns: repeat(3, minmax(130px, 1fr));
}
.activity-screen-child,
.f-r-a-m-e-parent {
  display: flex;
}
.f-r-a-m-e-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.activity-screen-child {
  width: 1349.1px;
  justify-content: flex-start;
  padding: 0 var(--padding-20xl);
  box-sizing: border-box;
}
.image-5-icon6 {
  height: 1130px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.background11 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #fba8c1,
    rgba(251, 168, 193, 0.54) 46%,
    rgba(251, 168, 193, 0.97)
  );
  display: none;
}
.image-area-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon10 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart10 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 17.2px #fb83a7;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.image-area-parent {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card11 {
  width: 173.1px;
  margin: 0 !important;
  position: absolute;
  bottom: 396px;
  left: 539px;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.background12 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #a2e3f3,
    rgba(162, 227, 243, 0.29) 46%,
    #a2e3f3
  );
  display: none;
}
.frame-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon11 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart11 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 20.8px #39c9ec;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent10 {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card12,
.cardcontainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.card12 {
  width: 173.1px;
  margin: 0 !important;
  right: 537.9px;
  bottom: 393px;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 3;
}
.cardcontainer {
  top: 0;
  left: 0;
  width: 1512px;
  max-width: 100%;
}
.frame-child31 {
  position: absolute;
  top: 45px;
  left: 43px;
  width: 194px;
  height: 194px;
  cursor: pointer;
  z-index: 3;
}
.card-icon1,
.frame-child32,
.frame-child33 {
  position: absolute;
  top: 40.7px;
  left: 306px;
  width: 755.4px;
  height: 41.1px;
  object-fit: contain;
  z-index: 3;
}
.card-icon1,
.frame-child33 {
  top: -34px;
  left: 941px;
  width: 173.3px;
  height: 175.9px;
  z-index: 4;
}
.card-icon1 {
  top: 252px;
  left: 539px;
  width: 182.5px;
  height: 233px;
  overflow: hidden;
  z-index: 3;
}
.frame-child34,
.frame-child35 {
  position: absolute;
  top: 673px;
  left: 913px;
  width: 269.7px;
  height: 198.1px;
  object-fit: contain;
  z-index: 4;
}
.frame-child35 {
  left: 639px;
  width: 262.3px;
  height: 122.5px;
}
.cardcontainer-parent {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
}
.activity-screen2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-245xl) var(--padding-23xl) var(--padding-164xl)
    var(--padding-63xl);
  box-sizing: border-box;
  gap: var(--gap-9xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1400px) {
  .card7,
  .f-r-a-m-e,
  .frame-parent5 {
    flex: 1;
  }
  .f-r-a-m-e-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .card7 {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .f-r-a-m-e {
    min-width: 100%;
  }
  .card7 {
    gap: var(--gap-lg);
    justify-content: center;
    grid-template-columns: repeat(2, minmax(130px, 225px));
  }
  .activity-screen2 {
    padding-left: var(--padding-22xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .f-r-a-m-e {
    flex-wrap: wrap;
    gap: var(--gap-lg);
  }
  .card7 {
    grid-template-columns: minmax(130px, 1fr);
  }
}
