.card-container {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 2px;
  left: -2px;
  background-color: var(--color-gray-500);
  z-index: 3;
}
.background28 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #fba8c1,
    rgba(251, 168, 193, 0.54) 46%,
    rgba(251, 168, 193, 0.97)
  );
  display: none;
}
.heart-pair-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon28 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart27 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 17.2px #fb83a7;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.heart-icon27 {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card29 {
  flex: 1;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 112px;
  z-index: 1;
}
.background29 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #fba8c1,
    rgba(251, 168, 193, 0.54) 46%,
    rgba(251, 168, 193, 0.97)
  );
  display: none;
}
.frame-icon19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon29 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart28 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 17.2px #fb83a7;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent21 {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card-group,
.card30 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.card30 {
  flex: 1;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  min-width: 112px;
  z-index: 1;
}
.card-group {
  align-self: stretch;
  gap: var(--gap-16xl-9);
}
.background30 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #fba8c1,
    rgba(251, 168, 193, 0.54) 46%,
    rgba(251, 168, 193, 0.97)
  );
  display: none;
}
.frame-icon20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon30 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart29 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 17.2px #fb83a7;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent22 {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card31 {
  flex: 1;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 112px;
  z-index: 1;
}
.background31 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #fba8c1,
    rgba(251, 168, 193, 0.54) 46%,
    rgba(251, 168, 193, 0.97)
  );
  display: none;
}
.frame-icon21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon31 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart30 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 17.2px #fb83a7;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent23 {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card-parent1,
.card32 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.card32 {
  flex: 1;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  min-width: 112px;
  z-index: 1;
}
.card-parent1 {
  align-self: stretch;
  gap: var(--gap-20xl-9);
}
.card-wrapper,
.card28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card28 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.card-wrapper {
  width: 386.1px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  min-width: 386.1000000000003px;
  max-width: 100%;
}
.background32 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #a2e3f3,
    rgba(162, 227, 243, 0.29) 46%,
    #a2e3f3
  );
  display: none;
}
.frame-icon22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon32 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart31 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 20.8px #39c9ec;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.custom-card {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card33 {
  width: 173.1px;
  margin: 0 !important;
  position: absolute;
  right: 250.9px;
  bottom: -154px;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.background33 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #a2e3f3,
    rgba(162, 227, 243, 0.29) 46%,
    #a2e3f3
  );
  display: none;
}
.frame-icon23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon33 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart32 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 20.8px #39c9ec;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent24 {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card34 {
  width: 173.1px;
  margin: 0 !important;
  position: absolute;
  right: 41.9px;
  bottom: -154px;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.heading-13 {
  flex: 1;
  position: relative;
  letter-spacing: 0.08em;
  font-weight: 800;
  display: inline-block;
  text-shadow: 7px 0 0#fff, 0 7px 0#fff, -7px 0 0#fff, 0-7px 0#fff;
  max-width: 100%;
  z-index: 4;
}
.card-parent2,
.image-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.card-parent2 {
  flex-direction: row;
  position: relative;
}
.image-container {
  flex-direction: column;
  padding: 0 0 var(--padding-135xl);
  box-sizing: border-box;
  min-height: 285px;
}
.background34 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #a2e3f3,
    rgba(162, 227, 243, 0.29) 46%,
    #a2e3f3
  );
  display: none;
}
.frame-icon24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon34 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart33 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 20.8px #39c9ec;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent25 {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card35 {
  flex: 1;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 112px;
  z-index: 1;
}
.background35 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #a2e3f3,
    rgba(162, 227, 243, 0.29) 46%,
    #a2e3f3
  );
  display: none;
}
.frame-icon25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon35 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart34 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 20.8px #39c9ec;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.frame-parent26 {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card36,
.cards-area,
.cards-area-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.card36 {
  flex: 1;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  overflow: hidden;
  justify-content: flex-start;
  min-width: 112px;
  z-index: 1;
}
.cards-area,
.cards-area-wrapper {
  max-width: 100%;
}
.cards-area {
  flex: 1;
  justify-content: center;
  gap: var(--gap-16xl-9);
}
.cards-area-wrapper {
  width: 465px;
  justify-content: flex-end;
  padding: 0 var(--padding-22xl);
  box-sizing: border-box;
}
.image-container-parent {
  width: 723px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 31px;
  min-width: 723px;
  max-width: 100%;
}
.activity-screen-inner2,
.frame-parent20 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent20 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.activity-screen-inner2 {
  width: 1385px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-17xl);
  box-sizing: border-box;
}
.image-5-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 1130px;
  object-fit: cover;
}
.frame-child39 {
  position: absolute;
  top: 45px;
  left: 43px;
  width: 194px;
  height: 194px;
  cursor: pointer;
  z-index: 4;
}
.frame-child40,
.frame-child41 {
  position: absolute;
  top: 40.7px;
  left: 306px;
  width: 755.4px;
  height: 41.1px;
  object-fit: contain;
  z-index: 4;
}
.frame-child41 {
  top: -34px;
  left: 0;
  width: 173.3px;
  height: 175.9px;
  z-index: 5;
}
.frame-child42,
.frame-child43 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}
.frame-child43 {
  top: 7.5px;
  left: 7.1px;
  width: 14.4px;
  height: 11.5px;
  object-fit: contain;
  z-index: 7;
}
.frame-child44,
.vector-container {
  position: absolute;
  top: 77.5px;
  left: 33px;
  width: 21.5px;
  height: 22.5px;
}
.frame-child44 {
  top: 63px;
  left: 33.5px;
  width: 27px;
  height: 19.5px;
  z-index: 7;
}
.frame-parent27 {
  position: absolute;
  top: 0;
  left: 941px;
  width: 173.3px;
  height: 141.9px;
}
.card-icon4,
.card-icon5 {
  position: absolute;
  top: 302px;
  left: 449.6px;
  width: 301px;
  height: 357.4px;
  overflow: hidden;
  object-fit: contain;
  z-index: 5;
}
.card-icon5 {
  top: 410.3px;
  left: 747.6px;
  width: 321.1px;
  height: 375.3px;
  z-index: 6;
}
.image-5-parent3 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.activity-screen5 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-181xl) var(--padding-23xl) var(--padding-48xl-5);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-77xl);
  color: var(--color-chocolate);
  font-family: var(--font-nunito);
}
@media screen and (max-width: 1250px) {
  .card-wrapper,
  .image-container-parent {
    flex: 1;
  }
  .frame-parent20 {
    flex-wrap: wrap;
  }
  .activity-screen5 {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .image-container-parent {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .card-wrapper {
    min-width: 100%;
  }
  .heading-13 {
    font-size: var(--font-size-29xl);
  }
  .cards-area {
    flex-wrap: wrap;
  }
  .image-container-parent {
    gap: 15px;
  }
}
@media screen and (max-width: 450px) {
  .card-group,
  .card-parent1 {
    flex-wrap: wrap;
    gap: var(--gap-lg);
  }
  .card-parent1 {
    gap: var(--gap-xl);
  }
  .heading-13 {
    font-size: var(--font-size-10xl);
  }
  .cards-area {
    gap: var(--gap-lg);
  }
}
