.frame-child94,
.frame-child95,
.frame-child96 {
  height: 62px;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(#9fc514, #9fc514),
    linear-gradient(#9fc514, #9fc514), #9fc514;
  min-width: 322px;
  max-width: 100%;
}
.ellipse-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1388px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-30xl);
  max-width: 100%;
  z-index: 1;
}
.frame-child97 {
  height: 87.8px;
  width: 87.8px;
  position: absolute;
  margin: 0 !important;
  top: 16.1px;
  right: -43.6px;
  border-radius: 10.04px;
  object-fit: contain;
}
.frame-child98,
.frame-child99 {
  border-radius: 40.17px;
  display: none;
}
.frame-child98 {
  height: 120.5px;
  width: 329.4px;
  position: relative;
  box-shadow: 0 8px 0#ffd540;
  background-color: var(--color-khaki);
  max-width: 100%;
}
.frame-child99 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: -7px 8px 19.8px #edb900 inset, 0 8px 0#edb900;
  background-color: var(--color-gold-200);
  width: 100%;
  height: 100%;
}
.next {
  position: absolute;
  top: 12.1px;
  left: 62.4px;
  font-size: var(--font-size-45xl-3);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-family: var(--font-nunito);
  color: var(--color-white);
  text-align: center;
  -webkit-text-stroke: 2px #fff;
  z-index: 3;
}
.pointer-child {
  position: absolute;
  top: 9.6px;
  left: 0;
  border-radius: 40.17px;
  width: 269.1px;
  height: 44.2px;
  z-index: 2;
}
.pointer-item {
  position: absolute;
  top: 0;
  left: 0.1px;
  width: 38.4px;
  height: 37.2px;
  object-fit: contain;
  z-index: 3;
}
.pointer {
  position: absolute;
  top: 2.4px;
  left: 17px;
  width: 269.1px;
  height: 53.8px;
}
.rectangle-parent9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gold-200);
  height: 100.4px;
  flex: 1;
  position: relative;
  box-shadow: -7px 8px 19.8px #edb900 inset, 0 8px 0#edb900;
  border-radius: 40.17px;
  z-index: 1;
}
.frame-wrapper7,
.polygon-container,
.rectangle-parent8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent8 {
  flex: 1;
  box-shadow: 0 8px 0#ffd540;
  border-radius: 40.17px;
  background-color: var(--color-khaki);
  padding: var(--padding-7xs) var(--padding-3xs) var(--padding-mini-1);
  box-sizing: border-box;
  z-index: 1;
}
.frame-wrapper7,
.polygon-container {
  width: 329.4px;
  position: relative;
}
.frame-wrapper7 {
  position: absolute;
  top: 57px;
  left: 996px;
  width: 373px;
  flex-direction: column;
  cursor: pointer;
  z-index: 4;
}
.frame-footer {
  width: 1388px;
  height: 177.5px;
  position: relative;
  max-width: 100%;
}
@media screen and (max-width: 1250px) {
  .frame-footer {
    height: auto;
    min-height: 177.5;
  }
}
@media screen and (max-width: 750px) {
  .next {
    font-size: var(--font-size-32xl);
  }
}
@media screen and (max-width: 450px) {
  .next {
    font-size: var(--font-size-20xl);
  }
}
