.background93 {
  align-self: stretch;
  width: 173.1px;
  position: relative;
  background: linear-gradient(
    180deg,
    #fba8c1,
    rgba(251, 168, 193, 0.54) 46%,
    rgba(251, 168, 193, 0.97)
  );
  display: none;
}
.frame-icon67 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heart-icon93 {
  align-self: stretch;
  height: 56px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.heart91 {
  position: absolute;
  top: 79px;
  left: 55px;
  box-shadow: 0 4px 17.2px #fb83a7;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.player-stats {
  height: 221px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.card95 {
  position: absolute;
  top: 434px;
  left: 68px;
  box-shadow: 3px 4px 9.4px rgba(235, 235, 235, 0.31), -7px -5px 17.8px #ebebeb;
  width: 173.1px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.frame-child107 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 7;
}
.frame-child108 {
  position: absolute;
  top: 127.8px;
  left: 65px;
  width: 224.8px;
  height: 155.2px;
}
.left-icon8,
.right-icon8 {
  position: absolute;
  top: 68.9px;
  left: 0;
  width: 58px;
  height: 58px;
}
.right-icon8 {
  left: 186.7px;
  width: 101.7px;
  height: 76.9px;
  object-fit: contain;
}
.union-icon8 {
  position: relative;
  width: 38.2px;
  height: 38.5px;
}
.blushes-icon4,
.face-icon4,
.intersect-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.blushes-icon4,
.intersect-icon4 {
  z-index: 2;
}
.blushes-icon4 {
  z-index: 5;
  object-fit: contain;
  transform: scale(1.764);
}
.wrapper-blushes4 {
  position: absolute;
  top: 13.6px;
  left: 20.8px;
  width: 121.8px;
  height: 19.9px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.expression-details,
.shade-icon4 {
  position: absolute;
  top: 101.5px;
  left: 15.2px;
  width: 156.5px;
  height: 67.1px;
}
.shade-icon4 {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  left: 0;
  top: 0;
  transform: scale(1.462);
}
.wrapper-shade4 {
  position: absolute;
  top: 5.7px;
  left: 15px;
  width: 153px;
  height: 70px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.union-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.eyes-icon,
.eyes-icon1,
.nose-icon4 {
  position: absolute;
  top: 35.4px;
  left: 99.7px;
  width: 29px;
  height: 22.6px;
  z-index: 4;
}
.eyes-icon1,
.nose-icon4 {
  top: 35.6px;
  left: 25px;
}
.nose-icon4 {
  top: 64.4px;
  left: 61.7px;
  width: 29.3px;
  height: 23.2px;
}
.union-parent2 {
  position: absolute;
  top: 40.7px;
  left: 19.9px;
  width: 148.6px;
  height: 88.7px;
}
.face-components,
.left-parent {
  position: absolute;
  top: 16.3px;
  left: 29px;
  width: 186.7px;
  height: 168.6px;
}
.left-parent {
  top: 0;
  left: 0;
  width: 288.4px;
  height: 184.9px;
  z-index: 1;
}
.frame-child109,
.frame-child110 {
  position: absolute;
  top: 203.93px;
  left: 75.27px;
  filter: blur(3.87px);
  border-radius: 50%;
  background-color: var(--color-sienna);
  width: 19.8px;
  height: 10.3px;
  transform: rotate(41.3deg);
  transform-origin: 0 0;
  z-index: 1;
}
.frame-child110 {
  top: 195.6px;
  left: 106.07px;
  filter: blur(13.98px);
  background-color: var(--color-bisque);
  width: 40.4px;
  height: 51.4px;
  transform: rotate(2deg);
}
.frame-child111,
.vector-parent6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frame-child111 {
  top: 137.3px;
  left: 109px;
  width: 32.7px;
  height: 26px;
  z-index: 2;
}
.frame-child112,
.frame-parent85 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frame-child112 {
  top: 159.1px;
  left: 169.2px;
  width: 42.9px;
  height: 70.2px;
  z-index: 3;
}
.frame-child113,
.frame-parent84 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frame-child113 {
  top: 120.2px;
  left: 156.8px;
  width: 82.5px;
  height: 83.6px;
  object-fit: contain;
  z-index: 4;
}
.frame-parent83 {
  height: 283px;
  flex: 1;
  position: relative;
}
.frame-wrapper8 {
  position: absolute;
  top: 337px;
  left: 144px;
  width: 289.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 8;
}
.card-parent16 {
  height: 746.4px;
  width: 556.6px;
  position: absolute;
  margin: 0 !important;
  top: 79px;
  left: 471px;
}
